<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager App</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/b17e211a77.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <p class="title">Task Manager App</p>
            </div>
        </nav>
    </header>
    <section>
        <div class="border">
            <div class="container">
                <form action="/" class="myForm" method="POST">
                    <label for="task">Enter A Task:</label>
                    <input type="text" id="task-input" name="task">
                    <button class="task-btn" type="submit">Pin</button>
                </form>
            </div>
        </div>
        <% for(let i = 0; i < tasks.length; ++i) {%>
        <div class="tasks-container">
            <p>Task: <%=tasks[i].task %></p>
            <a class="del" data-doc="<%= tasks[i]._id %>"><button class="delete"><i class="fa fa-times" aria-hidden="true"></i></button></a>
        </div>
        <% } %>
        <script>
            const deleteBtns = document.querySelectorAll('.del');
            
            if(deleteBtns){
                deleteBtns.forEach(deleteBtn => {
                    deleteBtn.addEventListener('click', () => {
                        let endpoint = `/${deleteBtn.dataset.doc}`
                        fetch(endpoint, {
                        method: 'DELETE'
                        })
                        .then((response) => 
                            response.json()
                        )
                        .then((data) => 
                            window.location.href = data.redirect
                        )
                        .catch((err) => {
                            console.log(err.message);
                        })
                    });
                });
            }
        </script>
    </section>
</body>
</html>