<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar"></nav>

    <main>
        <h1>Making a Sidebar Right Now</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, assumenda quam. Deleniti magnam aliquid explicabo sequi dolor odit labore culpa corporis, ratione aspernatur dignissimos mollitia iusto dolorum distinctio nam doloremque!</p>
        <p>Voluptate veritatis consequatur expedita labore minima vel dolorum illo ad aut. Corporis numquam recusandae qui nisi, explicabo quae. Nulla, obcaecati. Quis perferendis suscipit officiis nisi cum doloribus nobis aliquam animi.</p>
        <p>Deleniti quo autem ea necessitatibus at nihil laboriosam explicabo quisquam odio suscipit doloribus, labore aut molestiae ex quae corrupti alias blanditiis, omnis libero cum. Nulla dolores beatae eos deserunt minus.</p>
        <p>Cumque inventore accusantium, dolores tempora laborum ad assumenda corrupti? At hic sunt blanditiis reiciendis nulla quas eius similique rerum asperiores. Maxime, consectetur? Nostrum tempore natus beatae laboriosam dicta suscipit eligendi.</p>

        <%-title %>
    </main>
</body>
</html>